/* Start reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End reset */

/* Start of Utility classes */

@font-face {
    font-family: "Figtree";
    src: url(../fonts/Figtree-VariableFont_wght.ttf);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

img {
    display: block;
}

/* End of Utility Classes */
html {
    font-family: "Figtree";
    height: 100%;
}

body {
    background-color: hsl(47, 88%, 63%);
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
    max-width: 317px;
}

.image {
    max-width: 279px;
    min-height: 200px;
    background-image: url(../images/illustration-article.svg);
    background-size: cover;
    background-position: center;
    border-radius: 0.55rem;
    margin-bottom: 1.5rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.label {
    max-width: 73px;
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    font-weight: 800;
    color: #111111;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
}

.publish-date {
    font-size: 0.75rem;
    font-weight: 500;
    color: #111111;
}

.heading {
    font-size: 1.25rem;
    font-weight: 800;
    color: #111111;
}

.main-text {
    font-size: 0.8rem;
    font-weight: 500;
    color: #6b6b6b;
    line-height: 150%;
}
