/* Start reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End reset */

/* Start of Utility classes */

@font-face {
    font-family: "Figtree";
    src: url(../fonts/Figtree-VariableFont_wght.ttf);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

img {
    display: block;
}

/* End of Utility Classes */
html {
    font-family: "Figtree";
    height: 100%;
    line-height: 112%;
}

body {
    background-color: hsl(47, 88%, 63%);
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem;
    border-radius: 20px;
    max-width: 327px;
    min-height: 501px;
    border: 1px solid #111111;
    box-shadow: 8px 8px #111111;
    transition: max-width 0.35s ease;
    transition: min-height 0.35s ease;
}

.image {
    max-width: 279px;
    min-height: 200px;
    background-image: url(../images/illustration-article.svg);
    background-size: cover;
    background-position: center;
    border-radius: 0.55rem;
    margin-bottom: 1.5rem;
    transition: max-width 0.35s ease;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.label {
    max-width: 73px;
    transition: max-width 0.35s ease;
    transition: min-height 0.35s ease;
    padding: 0.25rem 0.75rem;
    font-size: 0.75rem;
    transition: font-size 0.35s ease;
    font-weight: 800;
    color: #111111;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
}

.publish-date {
    max-width: fit-content;
    font-size: 0.75rem;
    font-weight: 500;
    color: #111111;
    transition: max-width 0.35s ease;
    transition: font-size 0.35s ease;
}

.heading {
    line-height: 150%;
    font-size: 1.25rem;
    font-weight: 800;
    color: #111111;
    transition: font-size 0.35s ease;
}

.heading:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.main-text {
    font-size: 0.875rem;
    font-weight: 500;
    color: #6b6b6b;
    line-height: 150%;
    transition: font-size 0.35s ease;
}

.author {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.author-avatar {
    width: 32px;
    height: 32px;
}

.author-name {
    font-size: 0.875rem;
    font-weight: 800;
}

.attribution {
    margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
    .card {
        max-width: 384px;
        min-height: 522px;
    }

    .image {
        max-width: 336px;
    }

    .label {
        max-width: 82px;
        min-height: 29px;
        font-size: 0.875rem;
    }

    .publish-date {
        font-size: 0.875rem;
    }

    .heading {
        font-size: 1.5rem;
    }

    .main-text {
        font-size: 1rem;
    }
}
